$clr-primary: hsl(10, 79%, 65%);
$clr-secondary: hsl(186, 34%, 60%);
$clr-neutral-dark: hsl(25, 47%, 15%);
$clr-neutral-medium: hsl(28, 10%, 53%);
$clr-neutral-light: hsl(27, 66%, 92%);
$clr-neutral-pale: hsl(33, 100%, 98%);
