@use 'sass:map';
@use 'sass:color';

.container {
	max-width: 375px;
	margin: 6rem auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@include mq() {
		max-width: 1200px;
	}
}

.top-box {
	background-color: $clr-primary;
	color: $clr-neutral-light;
	height: 50px;
	width: 250px;
	margin: 0 auto;
	padding: 1em;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.balance-container p {
	font-size: calc($fs-base * 0.75);
	font-weight: $fw-400;
	line-height: 0.5;
}

.balance-container .balance {
	font-size: calc($fs-base * 1.2);
	font-weight: $fw-700;
}

.logo-container img {
	height: 3rem;
	width: 3rem;
}

.bottom-box {
	background-color: $clr-neutral-pale;
	color: $clr-neutral-dark;
	height: 350px;
	width: 250px;
	margin: 1rem auto;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 0.5em 1em;

	h2 {
		font-size: calc($fs-base * 1.2);
		font-weight: $fw-700;
	}

	&-bars {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		gap: 1rem;
		margin-bottom: 2.5rem;
		margin-top: 2.5rem;
		height: 20rem;
	}
}

.bottom-box-footer {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	padding-top: 1rem;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: rgba($color: $clr-primary, $alpha: 0.3);
	}
}

.bottom-box .bar {
	background-color: $clr-primary;
	width: 2rem;
	height: 8rem;
	border-radius: 4px;
}

.bottom-box .bar-3 {
	background-color: $clr-secondary;
}

.bottom-box-percent {
	text-align: right;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;

	p {
		font-size: calc($fs-base * 0.75);
		font-weight: $fw-400;
		line-height: 0.4;
		color: $clr-neutral-medium;
		margin-bottom: 0;
	}

	.percent {
		font-size: calc($fs-base * 0.75);
		font-weight: $fw-700;
		color: $clr-neutral-dark;
	}
}

.bottom-box-balance {
	align-self: center;

	p {
		font-size: calc($fs-base * 0.75);
		font-weight: $fw-400;
		line-height: 0.5;
		color: $clr-neutral-medium;
	}

	.balance {
		font-size: calc($fs-base * 1.5);
		font-weight: $fw-700;
		color: $clr-neutral-dark;
	}
}

.bar-span {
	display: none;

	&.active {
		display: inline-block;
	}
}

.bar:hover {
	cursor: pointer;
	opacity: 0.75;
}
